{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.eu-gb.bluemix.net",
      "Org": "barudwaleshubham.dinesh2015@vit.ac.in",
      "Space": "dev"
    },
    "Name": "PreSecure",
    "Instrumentation": {
      "domain": "eu-gb.mybluemix.net"
    }
  },
  "Path": "manifest.yml",
  "Type": "Cloud Foundry"
}